doctype 5
html
  head
    meta charset='utf-8'
    meta http-equiv='X-UA-Compatible' content='IE=Edge'

    title ShowStudio

    javascript:
      var debugMode = true;

      if (debugMode) {
        var cors = 'http://127.0.0.1:3000/studio/';
      } else {
        var cors = 'http://api.clouds.fm/studio/';
      }

    link href='styles/styles.css' rel='stylesheet'
    script src='https://login.persona.org/include.js'

    / 开发环境
    script data-main='scripts/app/main' src='scripts/components/requirejs/require.js'

    / 部署环境
    / script src='scripts/main.js'
  body
