$color-seperator : #dce1e6
$color-regular   : #323c46
$color-light     : #96a0aa
$color-blue      : #0064ff
$border-regular  : 1px solid $color-light
$border-light    : 1px solid $color-seperator
$height-topbar   : 44px
$width-sidebar   : 200px

body
  background : white
  color      : $color-regular
  height     : 100%
  width      : 100%
  position   : fixed
  $blueprint_grid_columns : 12

  h1
    font-size: 36px

  div.modal
    width      : 100%
    height     : 100%
    float      : left
    position   : absolute
    background : rgba(white, 0.9)
    display    : none


  div.main
    height: 100%

  div.topbar
    height        : $height-topbar
    border-bottom : $border-regular
    width         : 100%
    @include single-box-shadow(rgba(black, 0.05) 0 1px 0)

    span.center
      display    : block
      width      : 100%
      text-align : center

    span.left
      float: left
      margin-top : -$height-topbar

    span.right
      float      : right
      margin-top : -$height-topbar

    span.tabs
      display: none

  a.button
    margin      : 10px
    line-height : $height-topbar
    cursor      : pointer

  a.button.active
    color: $color-blue

  div.items
    margin: 3px

    div.item
      cursor     : pointer
      background : $color-light
      display    : inline-block
      margin     : 0 1px -2px 0

    div.item:hover
      @include single-box-shadow(rgba(black,0.15), 1px, 1px, 3px, inset)

  div.container
    width  : 100%
    height : 100%
    float  : left

    div.content
      margin : 5% auto
      width  : 500px

    div.boxes
      margin   : 0 auto
      width    : 430px
      top      : 20%
      position : relative

      div.box
        width  : 400px
        border : solid 1px
        margin : 10px

        a.button
          margin        : 0
          text-align    : center
          border-bottom : solid 1px $color-seperator
          display       : block

      div.box.left
        width   : 135px
        height  : 135px
        display : inline-block
        float   : left

      div.box.right
        width   : 243px
        height  : 135px
        display : inline-block

  div.sidebar
    width       : $width-sidebar
    position    : absolute
    border-left : $border-regular
    right       : -195px
    background  : white
    height      : 100%
    @include single-box-shadow(rgba(black, 0.05) -2px 0 0)

    div.buttom
      position : absolute
      bottom   : $height-topbar
      height   : $width-sidebar
      width    : $width-sidebar

      img#show_image
        position: absolute

      div.no_image
        position    : absolute
        color       : $color-light
        margin      : 10px
        display     : none
        width       : 180px
        line-height : 180px
        text-align  : center
        border      : dashed 1px $color-light

    div.field
      border-bottom: $border-light

      input[type='text']
        border       : none
        margin       : 0
        height       : 44px
        width        : 180px
        padding-left : 10px

  div.sidebar-trigger
    height   : 100%
    width    : $width-sidebar
    right    : 0
    position : absolute

  div.sidebar.active
    right : 0


