div.welcome_label
  position    : relative
  margin-left : 2%
  font-size   : 36px
  top         : 45%

div.welcome_box
  position: absolute
  margin-left: 2%
  bottom: 5%

  p
    font-size: 18px
    line-height: 44px
