div.container
  div.boxes
    div.box.left#account-balance
    	a.sub-description <%=distributor_balance%>
    div.box.right
    	a.button#history <%=distributor_history%>
    	a.button#deposit <%=distributor_deposit%>
    	a.button#withdrawal <%=distributor_withdrawal%>
    div.box
    	a.button#change-persona <%=distributor_change_persona%>
    	a.button#change-paypal <%=distributor_change_paypal%>
    	a.button#change-name <%=distributor_change_name%>
