div.modal
div.topbar
	span.center
		span.tabs.show
			a.button#dashboard <%=button_dashboard%>
			a.button#script <%=button_script%>
		span.tabs.list
			a.button#shows <%=button_shows%>
			a.button#materials <%=button_materials%>
			a.button#market <%=button_market%>
			a.button#advertise <%=button_advertise%>
		span.tabs.help
			a.button#botcast <%=button_botcast%>
			a.button#podcast <%=button_podcast%>
			a.button#ads <%=button_ads%>
		span.tabs.distributor
	span.left
		a.button <%=button_left%>
	span.right
		a.button <%=button_right%>
div.sidebar-trigger
div.main
