div.sidebar
  form
    div.field: input#show_uid type='text'
    div.field
      select#show_status
        option value='private' <%=dashboard_status_private%>
        option value='published' <%=dashboard_status_public%>
    div.field: a.button#show_reminder
    div.field: a.button#show_push <%=dashboard_push%>
    div.field: a.button.red#show_destroy <%=dashboard_destroy%>
  div.buttom
    div.no_image no image
    img#show_image


div.analytics
	div.metric
		div.date
		div.count
	div.type
		ul
			li.button#daily <%=dashboard_daily%>
			li.button#weekly <%=dashboard_weekly%>
			li.button#monthly <%=dashboard_monthly%>
